<link rel="stylesheet" href="/css/defaults/style.css">
<link rel="stylesheet" href="/css/defaults/responsive.css">
<script src="https://kit.fontawesome.com/dd4ab22b06.js" crossorigin="anonymous"></script>

<div id="footer">
    <div class="info">
        <div class="logo">
            <img src="/images/landonglao.png" alt="">
        </div>

        <div class="text">
            <p class="name">Lân Đông Lào</p>
            <p class="author">Web được thiết kế bởi lâm#8965</p>
        </div>
    </div>

    <div class="social">
        <a href="https://www.youtube.com/channel/UCtA_RX0OCO-cUv5PvBp7cxA" target="_blank"
            class="fab fa-youtube-square"></a>
        <a href="https://discord.gg/8592Gbk" target="_blank" class="fab fa-discord"></a>
    </div>
</div>

<script src="/js/defaults/app.js"></script>